page-otp {
    .text-input {
        text-align: center;
        font-size: 2em;
    }
    .item-ios.item-block .item-inner,  .item-md.item-block .item-inner{
        padding-right: 0px;
        border-bottom: 2px solid #fdd835;
    }
    .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input {
        width: calc(100% - 1px);
    }
    .item-md.item-label-stacked .text-input, .item-md.item-label-floating .text-input {
        width: calc(100% - 1px);
    }

}

