page-signin {
    .primary {
        background-color: #4caf50;
    }
    .image-signin {
        text-align: center;
    }
    ion-icon {
        margin-left: -1em;
    }
    ion-segment {
        background-color: #4caf50;
        ion-segment-button.segment-button {
            color: #ffffff!important;
        }
    }
    .segment-activated {
        border-color: #FDD835!important;
    }
}
