page-search {
    .header-md::after {
        background-image: none!important;
    }
    .scroll-content {
        background: #ffffff;
    }
    .filter {
        margin-top: 16px;
        margin-bottom: -15px;
    }
    .separate {
        width: 50%;
        float: left;
    }
    .end-card {
        margin-bottom: 10em;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede!important;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid #dedede!important;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: #ffffff!important;
    }
    ion-segment {
        background-color: #4caf50;
        ion-segment-button.segment-button {
            color: #ffffff!important;
        }
    }
    .segment-activated {
        border-color: #FDD835!important;
    }
}