page-alamat {
    ion-label {
        h3, h5, p {
            margin: 10px 0px!important;
        }
        white-space: unset;
        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }
    ion-fab button ion-icon {
        color: #ffffff;
    }
}
