page-search-content {
    .scroll-content {
        background: #ffffff;
    }
    .filter {
        margin-top: 16px;
        margin-bottom: -15px;
    }
    .list-ios {
        .select-right {
            width: 50%;
            float: right;
            margin-top: -6.4rem;
        }
    }
    .list-md {
        .select-right {
            width: 50%;
            float: right;
            margin-top: -6.3rem;
        }
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede!important;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid #dedede!important;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: #ffffff!important;
    }
}